.order-confirmation {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 50px;
    margin-top: 100px;
}

.order-confirmation-left {
    width: 100%;
    max-width: max(30%, 500px);
}

.order-confirmation-left h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 50px;
}

.order-confirmation-right {
    width: 100%;
    max-width: max(40%, 500px);
    padding: 20px;
}

.order-confirmation-right h2 {  
    font-size: 1.4rem;
    font-weight: 600;
}

.order-confirmation-right h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 20px 0 20px 0;
}

.order-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: grey;
    font-size: max(1vw, 12px);
    margin: 10px;
}
.order-item img {
    width: 50px;
}

.total {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    color: #555;
    margin-top: 20px;
}

@media (max-width:750px) {
    .order-confirmation{
        flex-direction: column;
    }
}