.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo{
    width: 300px;
}

.navbar .basket-icon{
    width: 25px;
}

.navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    color: #020202;
    font-size: 1.1rem;
}

.navbar-right{
    display: flex;
    align-items: center;
}

.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #000;
}

.navbar li {
    cursor: pointer;
}

.navbar-basket-icon{
    position: relative;
}

.navbar-basket-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: #16DB65;
    border-radius: 5px;
    top: -8px;
    right: -6px;
}

@media (max-width:1050px) {
    .navbar .logo{
        width: 240px;
    }
    .navbar-menu{
        gap: 20px;
        font-size: 17px;
    }
    .navbar-right{
        gap: 30px;
    }
    .navbar .basket-icon {
        width: 20px;
    }
}

@media (max-width:900px) {
    .navbar .logo{
        width: 180px;
    }
    .navbar-menu{
        gap: 15px;
        font-size: 16px;
    }
    .navbar-right{
        gap: 30px;
    }
    .navbar .basket-icon {
        width: 16px;
    }
}

@media (max-width:750px) {
    .navbar-menu{
        display: none;
    }
}