.header{
    height: 27vw;
    margin: 30px auto;
    background: url("/header.png") no-repeat;
    background-size: contain;
    position: relative;
    border-radius: 15px;
}

.header-contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 5vw;
}

.header-contents h2 {
    font-weight: 500;
    color: #020202;
    font-size: max(3.5vw,22px);
}

.header-contents p {
    color: #020202;
    font-size: 1.5vw;
}

.header-contents button{
    border: none;
    color:#393E41;
    font-weight: 500;
    color: white;
    padding: 1vw 2.3vw;
    background-color: #058C42;
    font-size: max(1.5vw,13px);
    border-radius: 50px;
}

@media (max-width: 1050px) {
    .header-contents {
        max-width: 45%;
    }
}

@media (max-width: 750px) {
    .header-contents {
        max-width: 55%;
    }

    .header-contents p {
        display: none;
    }

    .header-contents button {
        padding: 1vw 2.3vw;
    }
}